alembic==1.3.3
asgiref==3.3.1
Babel==2.9.1
blinker==1.4
bp==0.0.4
certifi==2020.4.5.1
Click==7.0
Django==3.1.14
django-appconf==1.0.3
dominate==2.4.0
elasticsearch==7.6.0
fanstatic==1.1
Flask==1.1.1
Flask-Babel==1.0.0
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.10
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==3.0.1
js.jquery==3.3.1
Mako==1.1.1
MarkupSafe==2.0.1
numpy==1.21.0
opencv-python==4.4.0.46
Pillow==9.0.0
Pillow-PIL==0.1.dev0
psycopg2==2.8.5
PyJWT==1.7.1
python-dateutil==2.8.1
python-dotenv==0.13.0
python-editor==1.0.4
pytz==2019.3
shutilwhich==1.1.0
six==1.14.0
SQLAlchemy==1.3.13
sqlparse==0.3.0
static-jquery==3.2.1.0
urllib3==1.26.5
visitor==0.1.3
WebOb==1.8.6
Werkzeug==0.16.0
WTForms==2.2.1
